.logo_text_1, .logo_text_2 {
    width: 60%;
    height: 60%;
    margin-right: -5px;
    text-align: center;
}

.logo_text_1 {
    background-color: #c5373c;
    color: #C2DFFF;
    border-radius: 5px 0px 0px 5px;
}

.logo_text_2 {
    background-color: #C2DFFF;
    color: #c5373c;
    border-radius: 0px 5px 5px 0px;
}

.container {
    width: 100vw;
}

.carousel-text {
    height: 100px;
    width: 50%;
    border: 2px solid red;
}

.carousel-container {
    height: 100px;
    width: 35%;
    border: 2px solid red;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.custom-carousel-img {
    object-fit: contain;
    height: 100px;
}