.satellite-list-container {
    width: 100%;
}

.satellite-list-container a {
    text-decoration: none;
}

.satellite-list-container a:visited {
    color: hotpink;
}

.satellite-list-container a:hover {
    color: darkblue;
}

.track-text {
    width: 100%;
}